.descriptions{
    position: absolute;
    top: 3px;
    height: 100%;
    width: 100%;
    z-index: 2;
    pointer-events: none;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .description{
        background-color: #97192B;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        clip-path: inset(50% 0 50%);
        transition: clip-path .4s;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            min-height: 13rem;

        }

        p{
            &:nth-of-type(1){
                color: #010101;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 8vw;
                line-height: 7.5vw;
                margin: 0px;
                position: relative;
                z-index: 1;

                @media (max-width: 768px) {
                    font-size: 12vw;
                    line-height: 11vw;
                    margin-bottom: 20px;
                }
            }
            &:nth-of-type(2){
                width: 40%;
                font-size: 1.3vw;
                font-weight: 700;

                @media (max-width: 768px) {
                    width: 100%;
                    font-size: 4vw;
                    line-height: 5vw;
                }
            }
        }
    }
}